{% extends 'base_page.html' %}
{% block Titulo %}SistemaWeb - Adicionar Usuário{% endblock %}

{% block recursos_necessarios %}

{% endblock %}
<!--% block breadcrumb_title %}Novo Registro% endblock %}

% block breadcrumb_block %}

    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/entidade/cadastro">Clientes</a></li>
    <li class="active">Novo Registro</li>
% endblock %}-->


{% block conteudo_principal %}
  <form action='estoque.html' id='form_adicionar_usuario' autocomplete='on'>
    <div class='panel-form'>
      <label>Email:</label>
      <input id='email' class='base-component' type='text' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required="true"/>
      <br>
      <label>Senha: </label>
      <input id='password' class='base-component' type='password' pattern=".{6,10}" required="true" alt='Informe entre 6 e 10 caracteres'/>
      <br>
      <label>Repita a Senha: </label>
      <input id='re-password' class='base-component' type='password' required="true" />
      <br><br>
      <label id='loading-component' class='hidden'>Aguarde..</label>
      <button type='button' class='base-component pull-right' onclick="salvar_usuario();">Salvar</button>
    </div>

    <div class='panel-register'>
      Esqueceu sua senha? <a href='reset_password.html'>Recupere aqui</a>
    </div>
  </form>
{% endblock %}


{% block recursos_complementares %}
{% load staticfiles %}
{% endblock %}