{% extends 'base_page.html' %}
{% block Titulo %}SistemaWeb - Adicionar Usuário{% endblock %}
{% block recrusos_necessarios %}

{% endblock %}
<!--% block breadcrumb_title %}Novo Registro% endblock %}

% block breadcrumb_block %}

    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/entidade/cadastro">Clientes</a></li>
    <li class="active">Novo Registro</li>
% endblock %}-->

{% block conteudo_principal %}
{% endblock %}


{% block recursos_complementares %}
{% load staticfiles %}
{% endblock %}