{% extends 'usuario/base.html' %}
{% block Titulo %}SistemaWeb - Adicionar Usuário{% endblock %}

{% block recursos_necessarios %}
{% endblock %}

{% block conteudo_principal %}
<form>
  <h1><!--<i class="fa fa-paw"></i>--> SistemaWeb</h1>
  <div>
    <input type="text" class="form-control" placeholder="Email.." required="" />
  </div>

  <div>
    <input type="password" class="form-control" placeholder="Senha.." required="" />
  </div>

  <div>
    <a class="btn btn-primary submit form-control" href="index.html">Cadastrar</a>
  </div>

  <div class="clearfix"></div>

  <div class="separator">
    <p class="text-center">Não tem conta?
      <a href="/register" class=""> Cadastre-se aqui.</a><br>
      <a class="" href="#">Esqueci minha senha</a>
    </p>

    <div class="clearfix"></div>
    <br />

    <div>

      <p>©2016 All Rights Reserved. Privacy and Terms</p>
    </div>
  </div>
</form>
{% endblock %}

{% block recursos_complementares %}
{% endblock %}