{% extends 'usuario/base.html' %}
{% load static %}
{% block Titulo %}SistemaWeb - Login{% endblock %}

{% block recursos_necessarios %}
{% endblock %}

{% block conteudo_principal %}
<div ng-controller="login_controller">
    <form id="form_login" ng-submit="login_autentication()">
      {% csrf_token %}
      <h1><!--<i class="fa fa-paw"></i>--> SistemaWeb</h1>

      <div>
        {{ formulario_login.email }}
      </div>

      <div>
        {{ formulario_login.senha }}
      </div>

      <div>
      <button type="submit" class="btn btn-primary submit form-control" ng-click="">Entrar</button>
    </div>

    </form>
   </div>

  <div class="clearfix"></div>

  <div class="separator">
    <p class="text-center">Não tem conta?
      <a href="/register" class=""> Cadastre-se aqui.</a><br>
      <a class="" href="#">Esqueci minha senha</a>
    </p>

    <div class="clearfix"></div>
    <br />

    <div>

      <p>©2016 All Rights Reserved. Privacy and Terms</p>
    </div>
  </div>
{% endblock %}

{% block recursos_complementares %}
<script src="{% static 'modules/usuario/usuario_controller.js' %}"></script>
<script src="{% static 'modules/usuario/usuario.js' %}"></script>
{% endblock %}