{% extends 'usuario/base.html' %}
{% load static %}
{% block titulo_pagina %}SistemaWeb - Recuperar Senha{% endblock %}

{% block recursos_necessarios %}
{% endblock %}

{% block conteudo_principal %}

<div class="login_wrapper" >
  <div class="login_form" >
    <section class="login_content" >
      <form id="form_newpass" method="POST" style="display:block;">
        <h1>Recuperar senha</h1>
        {% csrf_token %}
        <div>
          {{ formulario_send.email }}
        </div>
        <div>
          <button type="submit" id="envia" class="btn btn-primary form-control" data-toggle="modal" data-target="#ModalEnvio" >Enviar</button>
        </div>

        <div class="separator">
          <p class="text-center">Não tem conta?
            <a href="/register" class=""> Cadastre-se aqui.</a><br>
            <a href="/new_password"  class="">Esqueci minha senha</a>
          </p>

          <div class="clearfix"></div>
          <br />

          <div>

            <p>©2016 All Rights Reserved. Privacy and Terms</p>
          </div>
        </div>
      </form>
    </section>
  </div>

  <div class="modal fade" id="ModalEnvio" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Senha gerada com SUCESSO!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Sua nova senha foi enviada para seu email. Verifique sua caixa de entrada!</strong></p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block recursos_complementares %}
<script src="{% static 'modules/usuario/usuario_controller.js' %}"></script>
<script src="{% static 'modules/usuario/usuario.js' %}"></script>
<script src="{% static 'bower/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
