.x_content {
	margin-top: 10px;
	padding: 10px;
	padding-top:0px;
	padding-bottom:0px;
}

.panel_toolbox{
	margin-top: -2px;
	margin-right: -5px;
}

.panel_toolbox .btn-group{
	margin-left: 5px;
}

.selected {
    background-color: #0283f3; !important;
}

.selected:hover {
		background-color: #0283f3; !important;
}

tr.linha_selecionavel{
    cursor: pointer;
}