[run]
omit =
    *PythonVirtualEnvs*
    .sonar/*
    conf/*
    data/*
    logs/*
    *test/*
    media/*
    requirements/*
    sistemaweb/*
    static/*
    templates/*
    test/*
    .bowerrc
    .coverage
    .coveragerc
    .gitignore
    bower.json
    manage.py
    README.md
    sonar-project.properties
    *__init__.py*
    *migrations*
    *factories.py
    *telnetlib*
    *netrc.py*
    *encodings/idna.py*
    *http*/client.py*
    *http/cookiejar.py*
    *stringprep.py*
    *xml/dom/pulldom.py*
    *xml/sax/expatreader.py*

    *django*
    *requests*
    *compressor*




[report]
[html]
directory = /test/unit/report/backend_coverage_report