{% extends 'user/base.html' %}
{% block Titulo %}SistemaWeb{% endblock %}

{% block recursos_necessarios %}
{% endblock %}

{% block conteudo_principal %}
<div ng-controller="register_controller" ng-init="email='{{ email }}'">
  <form id='form_new_register' method="POST" autocomplete="off" >
    {% csrf_token %}
    <h1><!--<i class="fa fa-paw></i>--> SistemaWeb</h1>
    <div>
        <strong>Usuário {{ email_activate }} já foi ativado no sistema!</strong>
    </div>

    <br>

    <div class="clearfix"></div>

    <div class="separator">
      <p class="text-center panel-options">Problemas para ativar sua conta?
        <a style="cursor: pointer;" ng-click="resend_activation_code()">Solicite nova chave</a><br>
        Se já possui uma conta <a href="/login">Acesse aqui</a><br>
        ou <a href="/login">Cadastre-se</a>
      </p>

      <div class="clearfix"></div>
      <br />

      <div>
        <p>©2016 All Rights Reserved. Privacy and Terms</p>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block recursos_complementares %}
  {% load static %}
  <script src="{% static 'modules/user/usuario_controller.js' %}"></script>
  <script src="{% static 'modules/user/usuario.js' %}"></script>
{% endblock %}

