{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Cadastrar Entidade {% endblock %}

{% block recursos_necessarios %}

  {% load static %}
	<script src="{% static 'bower_components/nprogress/nprogress.js' %}"></script>
	<link href="{% static 'bower_components/nprogress/nprogress.css' %}" rel="stylesheet">
	<script src="{% static 'bower_components/angularUtils-pagination/dirPagination.js'%}"></script>

	<!-- Controller and Style of User -->
	<link href="{% static 'modules/user/user.css' %}" rel="stylesheet">
	<script src="{% static 'modules/user/user_controller.js' %}"></script>
	<script src="{% static 'modules/user/user.js' %}"></script>
	<script src="{% static 'modules/user/permission.js' %}"></script>


  <style>
  .actionBar{
    display: none;
  }
  .wizard-step-bar .btn{
    width: 120px;
  }

  .multiselect {
    text-align: left;
  }

	tr.linha_selecionavel{
    cursor: pointer;
	}

	.x_title h2{
		text-transform: capitalize;
	}

	.x_title h2 .fa {
    font-size: 10px;
	}

	.x_title h2 .navigation_icon{
		position: relative;
		top: -4px;
	}
  </style>
{% endblock %}

{% block conteudo_principal %}
<div id="angular_content" ng-cloak ng-app="modules.user">

	<div class="main_content">
		<div class="tab-content">
			<div id="users_identification" class="tab-pane fade in active">
				{% include "user/administration/components/content/indentification.html" %}
			</div>

			<div id="users_permissions" class="tab-pane fade ">
				{% include "perms/perms.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block recursos_complementares %}
{% load static %}
<link rel="stylesheet" href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/validator/validator.js' %}"></script>
<script type="text/javascript" src="{% static 'custom/mask/mask.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		angular.element(document.getElementById('administration_users_controller')).scope().filter_users();
	});

</script>





{% endblock %}