.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

form label{
  padding-left: 8px;
}

form label::after{
  content: ':';
}

button[type="submit"] {
  width: 140px;
}

.selected td{
	background: #0283f3; !important;
}

.selected:hover {
		/*background-color:rgba(255, 255, 255, 0.0); !important;*/
}

tr.linha_selecionavel{
    cursor: pointer;
}

.field.bad .alert {
  top: 0px;
  left: 0;
  opacity: 1;
}
.field .alert {
  padding: 2px;
  text-align: right;
  color: #CE5454;
  font-size: 80%;
  width: 100%;
  position: relative;
  opacity: 1;
  z-index: 1;
  transition: .15s ease-out;
}

/*
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
*/





.label_help{
  position: relative;
  float: right;
  top: -23px;
  right: 10px;
  opacity: 0.3;
}

.label_help:hover{
  opacity: 1.0;
  color: #0b97c4;
}

.label_new{
  position: relative;
  top: -3px;
}

.label_fade{
  transition: all 1s ease-in-out;
  background-color: rgba(255, 0, 0, 0.0);
  color: rgba(255, 0, 0, 0.0);
  box-shadow: none;
  border-radius: 0px;
}

.errorlist{
  list-style-type: none;
  padding: 0;
}

.errorlist ul{
  list-style-type: none;
  margin-left: 8px;
}

.panel-options a{
  color: #5A738E;
  font-weight: bold ;
}