{% extends 'usuario/base.html' %}
{% block Titulo %}SistemaWeb - Adicionar Usuário{% endblock %}

{% block recursos_necessarios %}
{% endblock %}

{% block conteudo_principal %}
<div ng-controller="register_controller">
  <form id='form_new_register' method="POST" autocomplete="off" >
    {% csrf_token %}
    <h1><!--<i class="fa fa-paw></i>--> SistemaWeb</h1>
    <div>
        <strong>Chave de registro para o email {{ email_activate }}, incorreta ou expirou!</strong>
    </div>

    <br>

    <div class="clearfix"></div>

    <div class="separator">
    <p class="text-center panel-options">Problemas para ativar sua conta?
      <a href={% url 'new_register' email_activate %}>Reenviar email</a><br>
      Se já possui uma conta <a href="/login">Acesse aqui</a><br>
      ou <a href="/login">Cadastre-se</a>
    </p>

    <div class="clearfix"></div>
    <br />

    <div>
      <p>©2016 All Rights Reserved. Privacy and Terms</p>
    </div>
  </div>


    <!--<div class="separator">
        <a href="/register" > Registre-se aqui.</a><br>
        <a href={% url 'new_register' email_activate %} class="pull-right">Reenviar Chave</a>
    </div>

    <div>
       <p>©2016 All Rights Reserved. Privacy and Terms</p>
    </div>-->
  </form>
</div>
{% endblock %}

{% block recursos_complementares %}
  {% load static %}
  <script src="{% static 'modules/usuario/usuario_controller.js' %}"></script>
  <script src="{% static 'modules/usuario/usuario.js' %}"></script>
{% endblock %}

