{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Cadastrar Entidade {% endblock %}

{% block recursos_necessarios %}
  {% load static %}
  <script src="{% static 'bower_components/nprogress/nprogress.js' %}"></script>
    <link href="{% static 'bower_components/nprogress/nprogress.css' %}" rel="stylesheet">


  <!--<link href="% static 'bower_components/smartwizard/dist/css/smart_wizard_theme_dots.min.css' %}" rel="stylesheet" type="text/css" />-->
  <!-- jQuery Smart Wizard -->
  <link href="{% static 'bower_components/jQuery-Smart-Wizard/styles/smart_wizard.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static 'bower_components/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>

  <style>
  .actionBar{
    display: none;
  }
  </style>
{% endblock %}

{% block conteudo_principal %}
<div ng-controller="entity_controller">
  <div class="x_panel" style="margin-top: -30px;">
    <div class="x_title">
      <h2>Adicionar Entidade <!--<small>Click to validate</small>--></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class=""><i class="fa fa-question-circle"></i> Ajuda</a>
        <!--<li>
          <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        -->
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content" style="margin-top: 10px;">

      <!-- Smart Wizard -->
      <div id="wizard" class="form_wizard wizard_horizontal">

        <ul class="wizard_steps" style="padding-left: 5px;padding-right: 5px;padding-bottom: 10px; border-bottom: 1px solid #f3f3f3;">
          <li>
            <a href="#step-1">
              <span class="step_no">1</span>
              <span class="step_descr">
                <small><label>Identificação</label></small>
            </span>
            </a>
          </li>
          <li>
            <a href="#step-2">
              <span class="step_no">2</span>
              <span class="step_descr">
                <small><label>Localização</label></small>
            </span>
            </a>
          </li>
          <li>
            <a href="#step-3" >
              <span class="step_no" >3</span>
              <span class="step_descr">
                <small><label>Contatos</label></small>
            </span>
            </a>
          </li>
          <li>
            <a href="#step-4">
              <span class="step_no">4</span>
              <span class="step_descr">
                <small><label>Observações</label></small>
            </span>
            </a>
          </li>
          <li>
            <a href="#step-5">
              <span class="step_no">5</span>
              <span class="step_descr">
                <small><label>Salvar</label></small>
            </span>
            </a>
          </li>
        </ul>

        <div id="step-1" class="stepContainer" style="min-height: 340px;">
          <form>

            <div class="row">
              <div class="col-lg-2">
                <sub><label id="lb_type_entity" for="type_entity">{{ form_entity.type_entity.label }}</label></sub>
                {{ form_entity.type_entity }}
              </div>

              <div class="col-lg-2">
                <div class="form-group field_required">
                  <sub><label id="lb_cpf_cnpj" for="cpf_cnpj">{{ form_entity.cpf_cnpj.label|upper }}</label></sub>
                  {{ form_entity.cpf_cnpj }}
                </div>
              </div>

              <div class="col-lg-8">
                <div class="form-group field_required">
                  <sub><label id="lb_entity_name" for="entity_name">{{ form_entity.entity_name.label }}</label> </sub>
                  {{ form_entity.entity_name }}
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: -10px;">
              <div class="col-lg-4">
                <div class="form-group field_required">
                  <sub><label id="lb_fantasy_name" for="fantasy_name">{{ form_entity.fantasy_name.label }}</label> </sub>
                  {{ form_entity.fantasy_name }}
                </div>
              </div>

              <div class="col-lg-2">
                <div class="form-group field_required">
                  <sub><label id="lb_birth_date_foundation" for="birth_date_foundation">{{ form_entity.birth_date_foundation.label }}</label> </sub>
                  {{ form_entity.birth_date_foundation }}
                </div>
              </div>

                                                                <div class="col-lg-3">
                                                                    <div class="form-group field_required">
                                                                        <sub><label id="lb_company_activities" for="company_activities">{{ form_entity.company_activities.label }}</label> </sub>
                                                                        <br/>
                                                                        <!-- .multiselect {text-align: left;}-->
                                                                        <select id="demo" multiple="multiple" class="form-control">
                                                                            <option value="Consumidor">Consumidor</option>
                                                                            <option value="Comércio">Comércio</option>
                                                                            <option value="Serviços">Serviços</option>
                                                                            <option value="Indústria">Indústria</option>
                                                                            <option value="Transporte">Transporte</option>
                                                                            <option value="Importação">Importação</option>
                                                                            <option value="Exportação">Exportação</option>
                                                                            <option value="Produtor">Produtor Rural</option>
                                                                            <option value="Extrativista">Extrativista</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-3">
                                                                    <div class="form-group field_required">
                                                                        <sub><label id="lb_relation_company" multiple="multiple" for="relation_company">{{ form_entity.relation_company.label }}</label> </sub>
                                                                        {{ form_entity.relation_company }}
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row" style="margin-top: -10px;">

                                                                <div class="col-lg-7">
                                                                    <div class="form-group field_required">
                                                                        <sub><label id="lb_comments" for="comments">{{ form_entity.comments.label }}</label> </sub>
                                                                        {{ form_entity.comments }}
                                                                    </div>
                                                                </div>

                                                            </div>


      <div class="wizard-step-bar" style="padding-top: 10px;border-top: 1px solid #f3f3f3;">
        <!--<a href="#" class="buttonFinish buttonDisabled btn btn-default">Finish</a>-->
        <a href="#" class="buttonPrevious buttonDisabled btn btn-sm btn-default">Voltar</a>
        <a href="#" class="buttonNext btn btn-sm btn-success pull-right">Próximo</a>

      </div>

      <script type="text/javascript">
        $('#wizard').smartWizard({
          transitionEffect: 'fade', // Effect on navigation, none/slide/fade
          transitionSpeed: '300',
        });
      </script>
      <!-- End SmartWizard Content -->
    </div>
  </div>
</div>
{% endblock %}

{% block recursos_complementares %}
  {% load static %}
  <script src="{% static 'modules/user/usuario_controller.js' %}"></script>
  <script src="{% static 'modules/user/usuario.js' %}"></script>

  <link rel="stylesheet" href="{% static 'custom/smartwizard/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/bootstrap-multiselect.css' %}" type="text/css">
        <script type="text/javascript" src="{% static 'custom/smartwizard/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/bootstrap-multiselect.js' %}"></script>

  <script src="{% static 'bower_components/multiple-select/multiple-select.js' %}"></script>
    <script>
      $("#options_relations_company").multipleSelect({
        multiple: true,
        //multipleWidth: 110,
        width: '100%',
        selectAll: false,
        countSelected: 4,
        allSelected: 'Todos selecionados',
        styler: function(value) {
          return 'text-align: center;';
          }
      });
  </script>

  <script type="text/javascript">
            $(document).ready(function() {
                $('#demo').multiselect({
                    /*onChange: (function(option, checked) {
                        // Get selected options.
                        var selectedOptions = $('#demo option:selected');

                        if (selectedOptions.length >= ) {
                            // Disable all other checkboxes.
                            var nonSelectedOptions = $('#demo option').filter(function () {
                                return !$(this).is(':selected');
                            });

                            nonSelectedOptions.each(function () {
                                var input = $('input[value="' + $(this).val() + '"]');
                                input.prop('disabled', true);
                                input.parent('li').addClass('disabled');
                            });
                        }
                        else {
                            // Enable all checkboxes.
                            $('#demo option').each(function () {
                                var input = $('input[value="' + $(this).val() + '"]');
                                input.prop('disabled', false);
                                input.parent('li').addClass('disabled');
                            });
                        }
                    }),*/
                    numberDisplayed: 10  ,
                    nonSelectedText: 'Selecione a(s) atividade(s)   ',
                    buttonWidth: '100%',
                });
            });
        </script>


{% endblock %}

