{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Cadastrar Entidade {% endblock %}

{% block recursos_necessarios %}
  {% load static %}
  <script src="{% static 'bower_components/nprogress/nprogress.js' %}"></script>
    <link href="{% static 'bower_components/nprogress/nprogress.css' %}" rel="stylesheet">


  <!--<link href="% static 'bower_components/smartwizard/dist/css/smart_wizard_theme_dots.min.css' %}" rel="stylesheet" type="text/css" />-->
  <!-- jQuery Smart Wizard -->
  <link href="{% static 'bower_components/jQuery-Smart-Wizard/styles/smart_wizard.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static 'bower_components/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>

  <style>
  .actionBar{
    display: none;
  }
  </style>
{% endblock %}

{% block conteudo_principal %}
<div ng-controller="entity_controller">
  <div class="x_panel" style="margin-top: -30px;">
    <div class="x_title">
      <h2>Adicionar Entidade <!--<small>Click to validate</small>--></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class=""><i class="fa fa-question-circle"></i> Ajuda</a>
        <!--<li>
          <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        -->
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content" style="margin-top: 10px;">

      <!-- Smart Wizard -->
      <div id="wizard" class="form_wizard wizard_horizontal">

        <ul class="wizard_steps" style="padding-left: 5px;padding-right: 5px;padding-bottom: 10px; border-bottom: 1px solid #f3f3f3;">
          <li>
            <a href="#step-1">
              <span class="step_no">1</span>
              <span class="step_descr">
                <small><label>Identificação</label></small>
            </span>
            </a>
          </li>
          <li>
            <a href="#step-2">
              <span class="step_no">2</span>
              <span class="step_descr">
                <small><label>Localização</label></small>
            </span>
            </a>
          </li>
          <li>
            <a href="#step-3" >
              <span class="step_no" >3</span>
              <span class="step_descr">
                <small><label>Contatos</label></small>
            </span>
            </a>
          </li>
          <li>
            <a href="#step-4">
              <span class="step_no">4</span>
              <span class="step_descr">
                <small><label>Observações</label></small>
            </span>
            </a>
          </li>
          <li>
            <a href="#step-5">
              <span class="step_no">5</span>
              <span class="step_descr">
                <small><label>Salvar</label></small>
            </span>
            </a>
          </li>
        </ul>

        <div id="step-1" class="stepContainer" style="min-height: 340px;">
          <form>

            <div class="row">
              <div class="col-lg-2">
                <sub><label id="lb_type_entity" for="type_entity">{{ form_entity.type_entity.label }}</label></sub>
                {{ form_entity.type_entity }}
              </div>

              <div class="col-lg-2">
                <div class="form-group field_required">
                  <sub><label id="lb_cpf_cnpj" for="cpf_cnpj">{{ form_entity.cpf_cnpj.label|upper }}</label></sub>
                  {{ form_entity.cpf_cnpj }}
                </div>
              </div>

              <div class="col-lg-8">
                <div class="form-group field_required">
                  <sub><label id="lb_entity_name" for="entity_name">{{ form_entity.entity_name.label }}</label> </sub>
                  {{ form_entity.entity_name }}
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: -10px;">
              <div class="col-lg-4">
                <div class="form-group field_required">
                  <sub><label id="lb_fantasy_name" for="fantasy_name">{{ form_entity.fantasy_name.label }}</label> </sub>
                  {{ form_entity.fantasy_name }}
                </div>
              </div>

              <div class="col-lg-2">
                <div class="form-group field_required">
                  <sub><label id="lb_birth_date_foundation" for="birth_date_foundation">{{ form_entity.birth_date_foundation.label }}</label> </sub>
                  {{ form_entity.birth_date_foundation }}
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group field_required">
                  <sub>
                    <label id="lb_relation_company" for="">{{ form_entity.company_relations.label }}</label>
                  </sub>
                  {{ form_entity.company_relations }}
                </div>
              </div>
            </div>
          </form>
        </div>

        <div id="step-2">
          <h2 class="StepTitle">Step 2 Content</h2>
          <p>
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div id="step-3">
          <h2 class="StepTitle">Step 3 Content</h2>
          <p>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div id="step-4">
          <h2 class="StepTitle">Step 4 Content</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>


      <div class="wizard-step-bar" style="padding-top: 10px;border-top: 1px solid #f3f3f3;">
        <!--<a href="#" class="buttonFinish buttonDisabled btn btn-default">Finish</a>-->
        <a href="#" class="buttonPrevious buttonDisabled btn btn-sm btn-default">Voltar</a>
        <a href="#" class="buttonNext btn btn-sm btn-success pull-right">Próximo</a>

      </div>

      <script type="text/javascript">
        $('#wizard').smartWizard({
          transitionEffect: 'fade', // Effect on navigation, none/slide/fade
          transitionSpeed: '300',
        });
      </script>
      <!-- End SmartWizard Content -->
    </div>
  </div>
</div>
{% endblock %}

{% block recursos_complementares %}
  {% load static %}
  <script src="{% static 'modules/user/usuario_controller.js' %}"></script>
  <script src="{% static 'modules/user/usuario.js' %}"></script>



  <script src="{% static 'bower_components/multiple-select/multiple-select.js' %}"></script>
    <script>
      $("#options_relations_company").multipleSelect({
        multiple: true,
        //multipleWidth: 110,
        width: '100%',
        selectAll: false,
        countSelected: 4,
        allSelected: 'Todos selecionados',
        styler: function(value) {
          return 'text-align: center;';
          }
      });
  </script>


{% endblock %}

