{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Cadastrar Entidade {% endblock %}

{% block recursos_necessarios %}
  {% load static %}
  <script src="{% static 'bower_components/nprogress/nprogress.js' %}"></script>
    <link href="{% static 'bower_components/nprogress/nprogress.css' %}" rel="stylesheet">

  <link href="{% static 'bower_components/smartwizard/dist/css/smart_wizard.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'custom/smartwizard/dots_style_edited/smartwizard_dots_edit.css' %}" rel="stylesheet" type="text/css" />


{% endblock %}

{% block conteudo_principal %}
    <div ng-controller="entity_controller">

          <div id="smartwizard">
        <ul>
            <li><a href="#step-1"><small>Identificação</small></a></li>
            <li><a href="#step-2"><small>Contatos</small></a></li>
            <li><a href="#step-3"><small>Endereço</small></a></li>
            <li><a href="#step-4"><small>Finalizar</small></a></li>
            <!--<li><a href="#step-4">Step Title<br /><small>Step description</small></a></li>-->
        </ul>

        <div>
            <div id="step-1" class="">
                Step Content
            </div>
            <div id="step-2" class="">
                Step Content
            </div>
            <div id="step-3" class="">
                Step Content
            </div>
            <div id="step-4" class="">
                Step Content
            </div>
        </div>
    </div>


    <form id='form_entity' method="POST" autocomplete="off" ng-submit="save_entity()" novalidate>
        {% csrf_token %}

        <center><h1>Cadastro Entidade</h1></center>
        <div>
            <h6>Tipo de Entidade</h6>
            {{formulario_entidade.tipo_entidade}}
        </div>

        <div>
            <h6>Cpf ou Cnpj</h6>
            {{formulario_entidade.cpf_cnpj}}
        </div>

        <div>
            <h6>Nome ou Razão Social</h6>
            {{formulario_entidade.nome_razao}}
        </div>
        <!--
        <div>
            <h6>Apelido ou Nome Fantasia</h6>
            {{formulario_entidade.nome_fantasia}}
        </div>

        <div>
            <h6>Data de Nascimento ou Fundação</h6>
            {{formulario_entidade.nasc_fundacao}}
        </div>

        <div>
            <h6>Atividade Financeira</h6>
            {{formulario_entidade.activity}}
        </div>

        <div>
            <h6>Observacões</h6>
            {{formulario_entidade.observations}}
        </div>

        <div>
            <h6>Tipos de Relações</h6>
            {{formulario_entidade.relation_type}}
        </div>

        <div>
            <h6>Situacao Cadastro - [x] Habilitado</h6>
            {{formulario_entidade.registration_status}}
            <br>
        </div>
        -->
        <div>
            <br/>
            <button id='button_register' type="submit" class="btn btn-primary submit form-control">Cadastrar</button>
        </div>

    </form>


</div>
{% endblock %}

{% block recursos_complementares %}
  {% load static %}
  <script src="{% static 'modules/user/usuario_controller.js' %}"></script>
  <script src="{% static 'modules/user/usuario.js' %}"></script>
  <script src="{% static 'bower_components/smartwizard/dist/js/jquery.smartWizard.min.js' %}"></script>
  <script type="text/javascript">
    $('#smartwizard').smartWizard({
      theme: 'dots',
      autoAdjustHeight:true, // Automatically adjust content height
      transitionEffect: 'fade', // Effect on navigation, none/slide/fade
      transitionSpeed: '400'
    });
  </script>
{% endblock %}

