{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Cadastrar Entidade {% endblock %}

{% block recursos_necessarios %}

  {% load static %}
	<script src="{% static 'bower_components/nprogress/nprogress.js' %}"></script>
	<link href="{% static 'bower_components/nprogress/nprogress.css' %}" rel="stylesheet">
	<link href="{% static 'modules/entity/entity.css' %}" rel="stylesheet">
	<link href="{% static 'modules/entity/contact.css' %}" rel="stylesheet">
	<script src="{% static 'bower_components/angularUtils-pagination/dirPagination.js'%}"></script>
	<script src="{% static 'modules/entity/entity_controller.js' %}"></script>
	<script src="{% static 'modules/entity/entity.js' %}"></script>
	<script src="{% static 'modules/entity/contact_controller.js' %}"></script>
	<script src="{% static 'modules/entity/contact.js' %}"></script>

  <style>
  .actionBar{
    display: none;
  }
  .wizard-step-bar .btn{
    width: 120px;
  }

  .multiselect {
    text-align: left;
  }

	tr.linha_selecionavel{
    cursor: pointer;
	}

	.x_title h2{
		text-transform: capitalize;
	}

	.x_title h2 .fa {
    font-size: 10px;
	}

	.x_title h2 .navigation_icon{
		position: relative;
		top: -4px;
	}
  </style>
{% endblock %}

{% block conteudo_principal %}
<div id="angular_content" ng-cloak ng-app="modules.entity">

	<div class="main_content">
		<div class="tab-content">
			<div id="entity_identification" class="tab-pane fade in active">
				{% include "entity/components/content/identification.html" %}
			</div>

			<div id="entity_contact" class="tab-pane fade">
				{% include "entity/components/content/contact.html" %}
			</div>

			<div id="entity_endereco" class="tab-pane fade">
				{% include "entity/components/content/location.html" %}
			</div>
		</div>
	</div>
</div>

<!--Modal de adicao de Email
<div ng-controller="register_email_entity"><!-- Falta add um controlador--
		<div id="modal_add_email" class="form fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
			<div class="form-dialog" style="width: 50%">
				<div class="form-content">
					<div class="form-header">
						<button type="button" class="close" data-dismiss="form" aria-hidden="true">×</button>
						<h5 style="font-weight: bold">Adicionar endereço de Email</h5>
					</div>
					<div class="form-body">
						{% verbatim %}{{ teste }}{% endverbatim %}
					</div>
					<div class="form-footer">
						<button role="button" class="btn btn-sm btn-success form-control" ng-click="save_email()">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->
{% endblock %}

{% block recursos_complementares %}
{% load static %}
<!--<link rel="stylesheet" href="{% static 'bower_components/multiple-select/multiple-select.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'bower_components/multiple-select/multiple-select.js' %}"></script>-->
<link rel="stylesheet" href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/validator/validator.js' %}"></script>

<script type="text/javascript" src="{% static 'custom/mask/mask.js' %}"></script>

<script type="text/javascript">
	function post_screen_verified(){
		angular.element(document.getElementById('identification_controller')).scope().readjust_screen()
	}

	$(document).ready(function(){
		post_screen_verified();
		angular.element(document.getElementById('identification_controller')).scope().load();

		$('#birth_date_foundation').mask('99/99/9999');
		$('#entity_type').selectpicker({selectOnTab:true});
		$('#natureza_juridica').selectpicker({selectOnTab:true});
		$('#main_activity').selectpicker({selectOnTab:true});
		$('#relation_type').selectpicker({selectOnTab:true});

		$('#market_segment').selectpicker({liveSearch: true});
		$('#buy_destination').selectpicker({selectOnTab:true});
		$('#tributary_regime').selectpicker({selectOnTab:true});
		$('#company_activities').selectpicker({selectOnTab:true});


		select_selectpicer('entity_type',2)
		select_entity_type()

		$("#entity_name").val('EMPRESA DE TESTES')
		$("#fantasy_name").val('TESTES')
		$("#birth_date_foundation").val('15/01/1988')
		$("#cpf_cnpj").val('20.730.099/0001-94')
		select_selectpicer('relation_type',1)
		select_selectpicer('natureza_juridica',1)
		select_selectpicer('main_activity',1)
		$("#comments").val('CLIENTE ESPECIAL')

		select_selectpicer('tributary_regime',1)
		select_selectpicer('company_activities',[1,2,3,4])
		select_selectpicer('buy_destination',1)
		select_selectpicer('market_segment',[1,2])
		$("#comments_fiscal_note").val('ENTREGAR PREFERENCIALMENTE DE SEGUNDA A SEXTA DAS 09H AS 16H.')

		terminate_setup()
		//alert("PAGINA PRONTA EM "+SESSION_PARAMTERS['load_page_duration']+"ms E DADOS E CONFIGURACOES PRONTAS EM "+SESSION_PARAMTERS['setup_page_duration']+"ms")
	});
</script>


<script>
	//document.getElementById("cpf_cnpj").onblur = function () {validate_cpf_cnpj()};
	//document.getElementById("birth_date_foundation").onblur = function () {validate_birth_date()};
	//document.getElementById('entity_name').onblur = function () {validate_entity_name()};
	//document.getElementById('fantasy_name').onblur = function () {validate_entity_fantasy()};

	function validate_cpf_cnpj (){
			validate_cpf('cpf_cnpj')
	}

	function validate_entity_name () {
			validate_field_entity('entity_name')
	}

	function validate_entity_fantasy () {
			validate_field_entity ('fantasy_name')
	}

	function validate_birth_date () {
			validate_date_person('birth_date_foundation')
			//validate_field_entity('birth_date_foundation')
	}

	$('#modal_identification').on('shown.bs.modal', function() {
    $("#cpf_cnpj").focus();
    //$('.modal form input:first').focus();
	})
</script>

{% endblock %}