{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Cadastrar Entidade {% endblock %}

{% block recursos_necessarios %}
  {% load static %}
	<script src="{% static 'bower_components/nprogress/nprogress.js' %}"></script>
	<link href="{% static 'bower_components/nprogress/nprogress.css' %}" rel="stylesheet">
	<link href="{% static 'modules/entity/entity.css' %}" rel="stylesheet">
	<link href="{% static 'modules/entity/contact.css' %}" rel="stylesheet">
	<script src="{% static 'bower_components/angularUtils-pagination/dirPagination.js'%}"></script>

  <style>
  .actionBar{
    display: none;
  }
  .wizard-step-bar .btn{
    width: 120px;
  }

  .multiselect {
    text-align: left;
  }

	tr.linha_selecionavel{
    cursor: pointer;
	}

	.x_title h2{
		text-transform: capitalize;
	}

	.x_title h2 .fa {
    font-size: 10px;
	}

	.x_title h2 .navigation_icon{
		position: relative;
		top: -4px;
	}
  </style>
{% endblock %}

{% block conteudo_principal %}
<div id="angular_content" ng-cloak ng-app="modules.entity">

	<!--<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#entity_identification">Entidade</a></li>
		<li><a data-toggle="tab" href="#entity_contact">Contatos</a></li>
		<li><a data-toggle="tab" href="#entity_endereco">Endereços</a></li>
	</ul>-->

	<div class="main_content">
		<div class="tab-content">
			<div id="entity_identification" class="tab-pane fade in active">
				{% include "entity/components/tables/identification_content.html" %}
			</div>

			<div id="entity_contact" class="tab-pane fade">
				{% include "entity/components/tables/contact_content.html" %}
			</div>
			<div id="entity_endereco" class="tab-pane fade">
				{% include "entity/components/tables/location_content.html" %}
			</div>
		</div>





	</div>
</div>


<!--Modal de adicao de Email
<div ng-controller="register_email_entity"><!-- Falta add um controlador--
		<div id="modal_add_email" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
			<div class="modal-dialog" style="width: 50%">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h5 style="font-weight: bold">Adicionar endereço de Email</h5>
					</div>
					<div class="modal-body">
						{% verbatim %}{{ teste }}{% endverbatim %}
					</div>
					<div class="modal-footer">
						<button role="button" class="btn btn-sm btn-success form-control" ng-click="save_email()">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->
{% endblock %}

{% block recursos_complementares %}
{% load static %}

	<script src="{% static 'modules/entity/entity_controller.js' %}"></script>
	<script src="{% static 'modules/entity/entity.js' %}"></script>
	<script src="{% static 'modules/entity/contact_controller.js' %}"></script>
	<script src="{% static 'modules/entity/contact.js' %}"></script>

<link rel="stylesheet" href="{% static 'custom/smartwizard/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/bootstrap-multiselect.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'custom/smartwizard/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/bootstrap-multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/validator/validator.js' %}"></script>

<script type="text/javascript" src="{% static 'custom/mask/mask.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#cpf_cnpj').mask('999.999.999-99');
		$('#birth_date_foundation').mask('99/99/9999');

		angular.element(document.getElementById('identification_controller')).scope().load_entities();



		window.onresize = function(event) {
			angular.element(document.getElementById('identification_controller')).scope().readjust_screen()
			readjust_window()
    };


		angular.element(document.getElementById('identification_controller')).scope().readjust_screen()
		readjust_window()

		//alert("Tentando carregar")
		//angular.element(document.getElementById('form-save-entity')).scope().save_person();
		//alert("carregado")
		//angular.element(document.getElementById('entity_table')).scope().select_table_row();
	});
</script>

<script>
	//document.getElementById("cpf_cnpj").onblur = function () {validate_cpf_cnpj()};
	//document.getElementById("birth_date_foundation").onblur = function () {validate_birth_date()};
	//document.getElementById('entity_name').onblur = function () {validate_entity_name()};
	//document.getElementById('fantasy_name').onblur = function () {validate_entity_fantasy()};

	function validate_cpf_cnpj (){
			validate_cpf('cpf_cnpj')
	}

	function validate_entity_name () {
			validate_field_entity('entity_name')
	}

	function validate_entity_fantasy () {
			validate_field_entity ('fantasy_name')
	}

	function validate_birth_date () {
			validate_date_person('birth_date_foundation')
			//validate_field_entity('birth_date_foundation')
	}

	$('#modal_identification').on('shown.bs.modal', function() {
    $("#cpf_cnpj").focus();
    //$('.modal form input:first').focus();
	})
</script>

{% endblock %}