{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Cadastrar Entidade {% endblock %}

{% block recursos_necessarios %}
  {% load static %}
  <!--suppress ALL -->
    <script src="{% static 'bower_components/nprogress/nprogress.js' %}"></script>
  <link href="{% static 'bower_components/nprogress/nprogress.css' %}" rel="stylesheet">
  <!-- jQuery Smart Wizard -->
  <link href="{% static 'bower_components/jQuery-Smart-Wizard/styles/smart_wizard.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static 'bower_components/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>

  <style>
  .actionBar{
    display: none;
  }
  .wizard-step-bar .btn{
    width: 120px;
  }

  .multiselect {
    text-align: left;
  }
  </style>
{% endblock %}

{% block conteudo_principal %}
<div id="angular_content" ng-cloak ng-app="modules.entity">
  <div ng-controller="register_person_controller">
  	<div class="x_panel" style="margin-top: -30px;padding:10px;">
			<div class="x_title">
				<h2>Adicionar Entidade <!--<small>Click to validate</small>--></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class=""><i class="fa fa-question-circle"></i> Ajuda</a>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content" style="margin-top: 10px;padding: 10px;padding-top:0px;padding-bottom:0px;">
				<div class="" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
						<!--Aba de Identificacao -->
						<li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Identificação</a>
						</li>

						<!--Aba de Telefone e Email-->
						<li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Contatos</a>
						</li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" style="solid-opacity: #fff" aria-labelledby="home-tab">
							<form id="form-save-entity" autocomplete="off" ng-submit="save_person()" novalidate><!--  -->
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-2 col-xs-12 col-sm-3">
									<div class="form-group field field_required" id="field_cpf_cnpj">
								<sub><label id="lb_cpf_cnpj" for="cpf_cnpj">{{ form_entity.cpf_cnpj.label|upper }}</label></sub>
										{{ form_entity.cpf_cnpj }}
										<div class="alert">
										</div>
									</div>
								</div>

								<div class="col-lg-5 col-xs-12 col-sm-9">
									<div class="form-group field field_required" id="field_entity_name">
										<sub><label id="lb_entity_name" for="entity_name">{{ form_entity.entity_name.label }}</label> </sub>
										{{ form_entity.entity_name }}
										<div class="alert">
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-xs-12 col-sm-7">
									<div class="form-group field " id="field_fantasy_name">
										<sub><label id="lb_fantasy_name" for="fantasy_name">{{ form_entity.fantasy_name.label }}</label> </sub>
										{{ form_entity.fantasy_name }}
										<div class="alert">
										</div>
									</div>
								</div>

								<div class="col-lg-2 col-xs-12 col-sm-5">
									<div class="form-group field" id="field_birth_date_foundation">
										<sub><label id="lb_birth_date_foundation" for="birth_date_foundation">{{ form_entity.birth_date_foundation.label }}</label> </sub>
										{{ form_entity.birth_date_foundation }}
										<div class="alert">
										</div>
									</div>

								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-xs-12 col-sm-12">
									<div class="form-group field field_required" id="field_comments">
										<sub><label id="lb_comments" for="comments">{{ form_entity.comments.label }}</label> </sub>
										{{ form_entity.comments }}
										<div class="alert">
										</div>
									</div>
								</div>
							</div>

							<div class="row" style="margin-top: 10px;margin-left: 0px;margin-right: 0px;padding-top: 10px;padding-bottom: 10px;border-top: 1px solid #f3f3f3; /*padding: 0px;*/">
								<div class="col-lg-offset-10 col-lg-2">
									<button type="submit" href="#" class="btn btn-sm btn-success form-control pull-right" style="line-height: 24px;margin-right: -10px;margin-bottom: 0px;">Salvar</button>
								</div>
							</div>
						</form>
						</div>

						<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="home-tab">
							<div class="row">
								<table class="table table-condensed table-striped table-bordered table-houver col-lg-5 " id="table_contacts" style="width: 500px; width: 45%; float:left; margin-left: 10px">
									<thead>
									<tr class="linha_cabecalho" >
										<th class="center" style="width: 40px;"></th>
										<th class="center">Telefone</th>
									</tr>
								</thead>

									<tbody>
									<!-- Falta adicionar os email a partor do bd-->
									<tr ng-repeat="k in [1,2,3,4,5]" >
										<td style="width:10px; height: 30px;"></td>
										<td></td>
									</tr>
								</tbody>
							</table>
								<table class="table table-condensed table-striped table-bordered table-houver col-lg-5 " id="table_email" style="width: 500px; width: 45%; float:right;margin-right: 10px">
									<thead>
										<tr class="linha_cabecalho" >
											<th class="center" style="width: 40px;"></th>
											<th class="center">Email</th>
										</tr>
									</thead>

									<tbody>
										<!-- Falta adicionar os email a partor do bd-->
										<tr ng-repeat="k in [1,2,3,4,5]" >
											<td style="width:10px; height: 30px;"></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-lg-2" style="left: 323px">
									<button type="button" class="btn btn-sm btn-success form-control" data-toggle="modal" data-target="#modal_add_phone">Adicionar Telefone</button>
								</div>
								<div class="col-lg-2" style="float: right">
									<button role="button" class="btn btn-sm btn-success form-control" data-toggle="modal" data-target="#modal_add_email">Adicionar Email</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Modal de adicao de Telefone -->
	<div ng-controller="register_phone_entity"><!-- Falta add um controlador-->
		<div id="modal_add_phone" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
			<div class="modal-dialog" style="width: 50%">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h5 style="font-weight: bold">Adicionar numero Telefone</h5>
					</div>
					<div class="modal-body">
						<form>
							{% csrf_token %}
								<sub><label></label>{{ form_register_number.phone.label }}</sub>
								{{ form_register_number.phone }}
						</form>
					</div>
					<div class="modal-footer">
						<button role="button" class="btn btn-sm btn-success form-control" ng-click="save_tel()">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Modal de adicao de Email -->
	<div ng-controller="register_email_entity"><!-- Falta add um controlador-->
		<div id="modal_add_email" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
			<div class="modal-dialog" style="width: 50%">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h5 style="font-weight: bold">Adicionar endereço de Email</h5>
					</div>
					<div class="modal-body">
						Olha como ta
					</div>
					<div class="modal-footer">
						<button role="button" class="btn btn-sm btn-success form-control" ng-click="save_email()">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}

{% block recursos_complementares %}
    {% load static %}
    <script src="{% static 'modules/entity/entity_controller.js' %}"></script>
    <script src="{% static 'modules/entity/entity.js' %}"></script>
    <link rel="stylesheet" href="{% static 'custom/smartwizard/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/bootstrap-multiselect.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'custom/smartwizard/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/bootstrap-multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/validator/validator.js'  %}"></script>
    <script type="text/javascript" src="{% static 'custom/mask/mask.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#cpf_cnpj').mask('999.999.999-99');
        $('#birth_date_foundation').mask('99/99/9999');
      });
    </script>
    <script>
        document.getElementById("cpf_cnpj").onblur = function () {func_val_cpf()};
        document.getElementById("birth_date_foundation").onblur = function () {func_val_date()};
        document.getElementById('entity_name').onblur = function () {func_val_name()};
        document.getElementById('fantasy_name').onblur = function () {func_val_fant()};

        function func_val_cpf (){
            validate_cpf('cpf_cnpj')
        }

        function func_val_name () {
            validate_field_entity('entity_name')
        }

        function func_val_fant () {
            validate_field_entity ('fantasy_name')
        }

        function func_val_date () {
            validate_date_person('birth_date_foundation')
            //validate_field_entity('birth_date_foundation')
        }
    </script>

{% endblock %}

