{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Configurações {% endblock %}

{% block recursos_necessarios %}
{% load static %}
<script src="{% static 'bower_components/angularUtils-pagination/dirPagination.js'%}"></script>
<script src="{% static 'modules/core/configurations/configurations_controller.js' %}"></script>
{% endblock %}

{% block conteudo_principal %}

<div id="angular_content" ng-cloak ng-app="modules.configurations">
  <div id="configuration_controller" ng-controller="configurations_controller">

    <div class="main_content">
		<div class="tab-content">
			<div id="entity_identification" class="tab-pane fade in active">
        <div class="x_panel">
          <div class="x_title">
            <h2 style="width: 100px;">Configurações</h2>
            <ul class="nav navbar-right panel_toolbox">
              <div class="btn-group" role="group" aria-label="...">
                <style>
                  a.btn {
                    color: #999;
                    width: 35px;
                  }

                  .panel_toolbox ul li a{
                    padding-left: 8px;
                  }
                </style>
                <a id='bt_identification' href="#entity_identification" data-toggle="modal" data-target="#modal_identification" role="button" class="btn btn-sm btn-success" title="Adicionar nova Entidade" style="color: #fff;padding-right: 6px;width: 40px;"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i></a><!-- data-toggle="form" data-target="#modal_add_entity" -->
                <a id='bt_contacts' href="#entity_contact" data-toggle="tab" ng-hide="S1 || S2" role="button" class="btn btn-sm btn-default pull-left" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]" onclick="angular.element(document.getElementById('contact_controller')).scope().load_contacts();angular.element(document.getElementById('email_controller')).scope().load_emails();" title="Contatos" style='color: #999;margin-left: 5px;'><i class="fa fa-address-book-o fa-lg" style="margin-left:-1px;" aria-hidden="true"></i></a><!-- data-toggle="form" data-target="#modal_entity_email" ng-click="carregar_indicacao()" -->
                <a id='bt_locations' href="#entity_locations" data-toggle="tab" ng-hide="S1 || S2" role="button" class="btn btn-sm btn-default pull-left" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]" onclick="angular.element(document.getElementById('contact_controller')).scope().load_contacts();" title="Endereços" style='color: #999;margin-left: 5px;'><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></a><!-- data-toggle="form" data-target="#modal_entity_email" ng-click="carregar_indicacao()" -->
                <a id='bt_credit' href="#entity_credit" data-toggle="tab" ng-hide="S1 || S2" role="button" class="btn btn-sm btn-default pull-left" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]" onclick="angular.element(document.getElementById('contact_controller')).scope().load_contacts();" style='color: #999;margin-left: 5px;' title="Crédito"><i class="fa fa-credit-card fa-lg" aria-hidden="true" style="margin-left: -2px;"></i></a><!-- data-toggle="form" data-target="#modal_entity_email" ng-click="carregar_indicacao()" -->
                <a id='bt_history' href="#entity_history" data-toggle="tab" ng-hide="S1 || S2" role="button" class="btn btn-sm btn-default pull-left" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]" onclick="angular.element(document.getElementById('contact_controller')).scope().load_contacts();" style='color: #999;margin-left: 5px;' title="Histórico"><i class="fa fa-history fa-lg" aria-hidden="true"></i></a><!-- data-toggle="form" data-target="#modal_entity_email" ng-click="carregar_indicacao()" -->

                <div class="btn-group" role="group">
                  <button type="button" id='bt_outras_acoes' class="btn btn-sm btn-default dropdown-toggle desabilitado" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right dropdown-menu-right">
                    <li ng-show="S1 || S2" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]" onclick="angular.element(document.getElementById('contact_controller')).scope().load_contacts();angular.element(document.getElementById('email_controller')).scope().load_emails();"><a href="#"><i class="fa fa-address-book-o" style="margin-left:-1px;" aria-hidden="true"></i> Contatos</a></li>
                    <li ng-show="S1 || S2" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]" onclick=""><a href="#"><i class="fa fa-map-marker" aria-hidden="true" style="width: 10px;"></i> Endereços</a></li>
                    <li ng-show="S1 || S2" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]" onclick=""><a href="#"><i class="fa fa-credit-card" aria-hidden="true" style="margin-left: -2px;"></i> Créditos</a></li>
                    <li ng-show="S1 || S2" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]" onclick=""><a href="#"><i class="fa fa-history" aria-hidden="true"></i> Histórico</a></li>
                    <li><a href="#">Desativar</a></li>
                    <!--<li role="separator" class="divider"></li>
                    <li><a href="#modal_justificativa" id="bt_desativar_cliente" data-toggle="form">Desativar</a></li>-->
                  </ul>
                </div>
              </div>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="dataTable_wrapper">
              <div class='row'>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 pull-left">
                  <div class="x_panel">
                <div class="x_title">
                  <h2>Backups</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
									<ul class="list-unstyled ">
                    <li>
											<div class="block" style="border-bottom: 1px solid #DDDDDD">
												<div class="block_content">
												<span class="title">
														<a style="color:#999"><b>20171114182235.dump.gz</b></a>
                            <span class="pull-right" style="background:red;font-size: 11px;padding-bottom:0px;margin-bottom: 0px" >14/11/2017, 18:08 - 17MB</span>
												</span>
                        </div>
											</div>
                    </li>
                  </ul>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>

			<div id="entity_contact" class="tab-pane fade">
				nada 1
			</div>

			<div id="entity_endereco" class="tab-pane fade">
				nada 2
			</div>
		</div>
	</div>

  </div>
</div>
{% endblock %}

{% block recursos_complementares %}
{% load static %}
<script src="{% static 'modules/core/configurations/configurations.js' %}"></script>


  <script type="text/javascript">
	function post_screen_verified(){
	}

	$(document).ready(function(){
		post_screen_verified();
		angular.element(document.getElementById('configuration_controller')).scope().load()
  	terminate_setup()
	});
</script>
{% endblock %}