{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Cadastrar Entidade {% endblock %}

{% block recursos_necessarios %}
{% endblock %}

{% block conteudo_principal %}
<div ng-controller="register_controller">
    <form id='form_register' method="POST" autocomplete="off" ng-submit="save_entity()" novalidate>
        <div class="entity_panel">
            <label>CPF/CNPJ: </label>
            <br/>
            <input id='cpf_cnpj' class='base-component' type='text'  required="true" maxlength="14"/>
            <br/>
            <br/>
            <label>Nome ou Razao: </label>
            <br/>
            <input id='nome_razao' class='base-component' type='text' required="true" maxlength="50"/>
            <br/>
            <br/>
            <label>Nome Fantasia: </label>
            <br/>
            <input id='nome_fantasia' class='base-component' type='text' required="true" maxlength="20"/>
            <br/>
            <br/>
            <label>Tipo de Entidade: </label>
            <input type="radio" name="tipo_relacao" required="true">Pessoa Fisica
            <input type="radio"name="tipo_relacao" required="true">Pessoa Jurídica
            <input type="radio" name="tipo_relacao" required="true">Órgão Publico
            <br/>
            <button type='button' class='base-component pull-right' onclick="save_user();">Salvar</button>
        </div>
    </form>

</div>
{% endblock %}

{% block recursos_complementares %}
  {% load static %}
  <script src="{% static 'modules/usuario/usuario_controller.js' %}"></script>
  <script src="{% static 'modules/usuario/usuario.js' %}"></script>
{% endblock %}

