{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Cadastrar Entidade {% endblock %}

{% block recursos_necessarios %}
{% endblock %}

{% block conteudo_principal %}
<div ng-controller="entity_controller">
    <form id='form_entity' method="POST" autocomplete="off" ng-submit="save_user()" novalidate>
        {% csrf_token %}
        <div>
          {{ formulario_entidade.entity }}
        </div>

    </form>

</div>
{% endblock %}

{% block recursos_complementares %}
  {% load static %}
  <script src="{% static 'modules/usuario/usuario_controller.js' %}"></script>
  <script src="{% static 'modules/usuario/usuario.js' %}"></script>
{% endblock %}

