{% extends 'base_page.html' %}
{% block titulo_pagina %}SistemaWeb - Permissões {% endblock %}


{% block recursos_necessarios %}

{% endblock %}

{% block conteudo_principal %}
<div id="angular_content_perms" ng-cloak ng-app="modules.perms">
  <div id="div_permission_controller" ng-controller="permission_controller">
		<div class="x_panel">
			<div class="x_title">
				<h2>Definições de Permissão</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="row">
					<div class="col-lg-4">
						<!-- Menu Cadastros-->
						<fieldset>
							<a href="#" id="legend_cadastro" data-toggle="collapse" data-target="#permissions_cadastro">
								<legend>Cadastros
									<span class="pull-right">
									<fieldset id='field_cadastro' class="rating">
										<input type="radio" class="rating_item" id="star4" name="rating_permission" value="3" /><label id="rate_label_3" class = "full" for="star4" title="Excluir"></label>
										<input type="radio" class="rating_item" id="star3" name="rating_permission" value="2" /><label id="rate_label_2" class = "full" for="star3" title="Adicionar"></label>
										<input type="radio" class="rating_item" id="star2" name="rating_permission" value="1" /><label id="rate_label_1" class = "full" for="star2" title="Visualizar"></label>
										<input type="radio" class="rating_item" id="star1" name="rating_permission" value="0" /><label id="rate_label_0" class = "full" for="star1" title="Sem Acesso"></label>
									</fieldset>
								</span>
								</legend>
							</a>

							<div id="permissions_cadastro" style="padding: 0px;margin-top: -15px;padding-bottom: 0px">
								{% include "perms/tables/menu_0.html" %}
							</div>


						</fieldset>

						</div>

						<div class="col-lg-4">
						<!-- Menu Cadastros-->
						<fieldset>
							<a href="#" id="legend_cadastro" data-toggle="collapse" data-target="#permissions_cadastro">
								<legend>Cadastros
									<span class="pull-right">
									<fieldset id='field_cadastro' class="rating">
										<input type="radio" class="rating_item" id="star4" name="rating_permission" value="3" /><label id="rate_label_3" class = "full" for="star4" title="Excluir"></label>
										<input type="radio" class="rating_item" id="star3" name="rating_permission" value="2" /><label id="rate_label_2" class = "full" for="star3" title="Adicionar"></label>
										<input type="radio" class="rating_item" id="star2" name="rating_permission" value="1" /><label id="rate_label_1" class = "full" for="star2" title="Visualizar"></label>
										<input type="radio" class="rating_item" id="star1" name="rating_permission" value="0" /><label id="rate_label_0" class = "full" for="star1" title="Sem Acesso"></label>
									</fieldset>
								</span>
								</legend>
							</a>

							<div id="permissions_cadastro" style="padding: 0px;margin-top: -15px;padding-bottom: 0px">
								{% include "perms/tables/menu_0.html" %}
							</div>


						</fieldset>

						</div>

						<div class="col-lg-4">
						<!-- Menu Cadastros-->
						<fieldset>
							<a href="#" id="legend_cadastro" data-toggle="collapse" data-target="#permissions_cadastro">
								<legend>Cadastros
									<span class="pull-right">
									<fieldset id='field_cadastro' class="rating">
										<input type="radio" class="rating_item" id="star4" name="rating_permission" value="3" /><label id="rate_label_3" class = "full" for="star4" title="Excluir"></label>
										<input type="radio" class="rating_item" id="star3" name="rating_permission" value="2" /><label id="rate_label_2" class = "full" for="star3" title="Adicionar"></label>
										<input type="radio" class="rating_item" id="star2" name="rating_permission" value="1" /><label id="rate_label_1" class = "full" for="star2" title="Visualizar"></label>
										<input type="radio" class="rating_item" id="star1" name="rating_permission" value="0" /><label id="rate_label_0" class = "full" for="star1" title="Sem Acesso"></label>
									</fieldset>
								</span>
								</legend>
							</a>

							<div id="permissions_cadastro" style="padding: 0px;margin-top: -15px;padding-bottom: 0px">
								{% include "perms/tables/menu_0.html" %}
							</div>


						</fieldset>

						</div>
					</div>


				</div>

				<div class="row">
					<div class="col-lg-4">
						<!-- Menu Cadastros-->
						<fieldset>
							<a href="#" id="legend_cadastro" data-toggle="collapse" data-target="#permissions_cadastro">
								<legend>Cadastros
									<span class="pull-right">
									<fieldset id='field_cadastro' class="rating">
										<input type="radio" class="rating_item" id="star4" name="rating_permission" value="3" /><label id="rate_label_3" class = "full" for="star4" title="Excluir"></label>
										<input type="radio" class="rating_item" id="star3" name="rating_permission" value="2" /><label id="rate_label_2" class = "full" for="star3" title="Adicionar"></label>
										<input type="radio" class="rating_item" id="star2" name="rating_permission" value="1" /><label id="rate_label_1" class = "full" for="star2" title="Visualizar"></label>
										<input type="radio" class="rating_item" id="star1" name="rating_permission" value="0" /><label id="rate_label_0" class = "full" for="star1" title="Sem Acesso"></label>
									</fieldset>
								</span>
								</legend>
							</a>

							<div id="permissions_cadastro" style="padding: 0px;margin-top: -15px;padding-bottom: 0px">
								{% include "perms/tables/menu_0.html" %}
							</div>


						</fieldset>

						</div>

						<div class="col-lg-4">
						<!-- Menu Cadastros-->
						<fieldset>
							<a href="#" id="legend_cadastro" data-toggle="collapse" data-target="#permissions_cadastro">
								<legend>Cadastros
									<span class="pull-right">
									<fieldset id='field_cadastro' class="rating">
										<input type="radio" class="rating_item" id="star4" name="rating_permission" value="3" /><label id="rate_label_3" class = "full" for="star4" title="Excluir"></label>
										<input type="radio" class="rating_item" id="star3" name="rating_permission" value="2" /><label id="rate_label_2" class = "full" for="star3" title="Adicionar"></label>
										<input type="radio" class="rating_item" id="star2" name="rating_permission" value="1" /><label id="rate_label_1" class = "full" for="star2" title="Visualizar"></label>
										<input type="radio" class="rating_item" id="star1" name="rating_permission" value="0" /><label id="rate_label_0" class = "full" for="star1" title="Sem Acesso"></label>
									</fieldset>
								</span>
								</legend>
							</a>

							<div id="permissions_cadastro" style="padding: 0px;margin-top: -15px;padding-bottom: 0px">
								{% include "perms/tables/menu_0.html" %}
							</div>


						</fieldset>

						</div>

						<div class="col-lg-4">
						<!-- Menu Cadastros-->
						<fieldset>
							<a href="#" id="legend_cadastro" data-toggle="collapse" data-target="#permissions_cadastro">
								<legend>Cadastros
									<span class="pull-right">
									<fieldset id='field_cadastro' class="rating">
										<input type="radio" class="rating_item" id="star4" name="rating_permission" value="3" /><label id="rate_label_3" class = "full" for="star4" title="Excluir"></label>
										<input type="radio" class="rating_item" id="star3" name="rating_permission" value="2" /><label id="rate_label_2" class = "full" for="star3" title="Adicionar"></label>
										<input type="radio" class="rating_item" id="star2" name="rating_permission" value="1" /><label id="rate_label_1" class = "full" for="star2" title="Visualizar"></label>
										<input type="radio" class="rating_item" id="star1" name="rating_permission" value="0" /><label id="rate_label_0" class = "full" for="star1" title="Sem Acesso"></label>
									</fieldset>
								</span>
								</legend>
							</a>

							<div id="permissions_cadastro" style="padding: 0px;margin-top: -15px;padding-bottom: 0px">
								{% include "perms/tables/menu_0.html" %}
							</div>


						</fieldset>

						</div>
					</div>


				</div>

				<div class="row">
					<div class="col-lg-4">
						<!-- Menu Cadastros-->
						<fieldset>
							<a href="#" id="legend_cadastro" data-toggle="collapse" data-target="#permissions_cadastro">
								<legend>Cadastros
									<span class="pull-right">
									<fieldset id='field_cadastro' class="rating">
										<input type="radio" class="rating_item" id="star4" name="rating_permission" value="3" /><label id="rate_label_3" class = "full" for="star4" title="Excluir"></label>
										<input type="radio" class="rating_item" id="star3" name="rating_permission" value="2" /><label id="rate_label_2" class = "full" for="star3" title="Adicionar"></label>
										<input type="radio" class="rating_item" id="star2" name="rating_permission" value="1" /><label id="rate_label_1" class = "full" for="star2" title="Visualizar"></label>
										<input type="radio" class="rating_item" id="star1" name="rating_permission" value="0" /><label id="rate_label_0" class = "full" for="star1" title="Sem Acesso"></label>
									</fieldset>
								</span>
								</legend>
							</a>

							<div id="permissions_cadastro" style="padding: 0px;margin-top: -15px;padding-bottom: 0px">
								{% include "perms/tables/menu_0.html" %}
							</div>


						</fieldset>

						</div>

						<div class="col-lg-4">
						<!-- Menu Cadastros-->
						<fieldset>
							<a href="#" id="legend_cadastro" data-toggle="collapse" data-target="#permissions_cadastro">
								<legend>Cadastros
									<span class="pull-right">
									<fieldset id='field_cadastro' class="rating">
										<input type="radio" class="rating_item" id="star4" name="rating_permission" value="3" /><label id="rate_label_3" class = "full" for="star4" title="Excluir"></label>
										<input type="radio" class="rating_item" id="star3" name="rating_permission" value="2" /><label id="rate_label_2" class = "full" for="star3" title="Adicionar"></label>
										<input type="radio" class="rating_item" id="star2" name="rating_permission" value="1" /><label id="rate_label_1" class = "full" for="star2" title="Visualizar"></label>
										<input type="radio" class="rating_item" id="star1" name="rating_permission" value="0" /><label id="rate_label_0" class = "full" for="star1" title="Sem Acesso"></label>
									</fieldset>
								</span>
								</legend>
							</a>

							<div id="permissions_cadastro" style="padding: 0px;margin-top: -15px;padding-bottom: 0px">
								{% include "perms/tables/menu_0.html" %}
							</div>


						</fieldset>

						</div>

						<div class="col-lg-4">
						<!-- Menu Cadastros-->
						<fieldset>
							<a href="#" id="legend_cadastro" data-toggle="collapse" data-target="#permissions_cadastro">
								<legend>Cadastros
									<span class="pull-right">
									<fieldset id='field_cadastro' class="rating">
										<input type="radio" class="rating_item" id="star4" name="rating_permission" value="3" /><label id="rate_label_3" class = "full" for="star4" title="Excluir"></label>
										<input type="radio" class="rating_item" id="star3" name="rating_permission" value="2" /><label id="rate_label_2" class = "full" for="star3" title="Adicionar"></label>
										<input type="radio" class="rating_item" id="star2" name="rating_permission" value="1" /><label id="rate_label_1" class = "full" for="star2" title="Visualizar"></label>
										<input type="radio" class="rating_item" id="star1" name="rating_permission" value="0" /><label id="rate_label_0" class = "full" for="star1" title="Sem Acesso"></label>
									</fieldset>
								</span>
								</legend>
							</a>

							<div id="permissions_cadastro" style="padding: 0px;margin-top: -15px;padding-bottom: 0px">
								{% include "perms/tables/menu_0.html" %}
							</div>


						</fieldset>

						</div>
					</div>


				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block recursos_complementares %}
	{% load static %}
	<link href="{% static 'modules/perms/perms.css' %}" rel="stylesheet">
	<script src="{% static 'modules/perms/perms_controller.js' %}"></script>

	<script>
		$(document).ready(function() {
				angular.element(document.getElementById('div_permission_controller')).scope().select_perm();
		});

	</script>

{% endblock %}