<!DOCTYPE html>
<html lang="pt-br">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<title>Test Message - Resend Activation Code</title>
	</head>
	<body>
		<table style="max-width:600px;">
			<tbody>
				<tr>
					<td>
						<div>
							<img src="https://ci3.googleusercontent.com/proxy/9AGMizj1Zdqm3GSmAi0SCLgk026ggZ8Wds2JDwo0_-3LR-sgKEsn1s8ZHbtsCzEJ2rcIdUmtyk4c5CQTRGZX1bk0vfVW_s2phamLthtoKTLq4QOvRuesz9rDY-mq4_wI0dwOAwt9b_0f=s0-d-e1-ft#https://d1yoaun8syyxxt.cloudfront.net/in333-bee68639-1ed2-4593-9f0b-2f991304b828-v2" alt="Schoolof Net" >
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div style="max-width:600px;background:rgb(255,255,255);">
			<table style="font-size:0px;width:100%;background:rgb(255,255,255)" cellspacing="0" cellpadding="0" border="0" align="center">
				<tbody>
					<tr>
						<td style="text-align:center;vertical-align:top;font-size:10px">
							<div class="" aria-labelledby="column-100">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td style="font-size:10px;padding:15px;text-align:center">
												<div>
													<div style="width:100%;border-color:rgb(221,221,221);background-color:rgb(221,221,221);color:rgb(221,221,221);height:1px;margin:0px auto">
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div style="max-width:600px;background:rgb(255,255,255);margin-bottom: -20px;">
			<table style="font-size:0px;width:100%;background:rgb(255,255,255)" cellspacing="0" cellpadding="0" border="0" align="center">
				<tbody>
					<tr>
						<td style="text-align:center;vertical-align:top;font-size:0px">
							<div aria-labelledby="column-100">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td style="word-wrap:break-word;word-break:break-word;font-size:0px;padding:15px;text-align:left">
												<div>
													<p style="color:rgb(52,52,52);font-family:Helvetica,Arial,sans-serif;font-size:15px;padding:0px;margin:0px 0px 13px;line-height:1.6">
													<b>Chave gerada com sucesso</b>
													</p>

													<p style="color:rgb(52,52,52);font-family:Helvetica,Arial,sans-serif;font-size:13px;padding:0px;margin:13px 0px;line-height:1.6">
                          Conforme solicitado, estamos reencaminhando um novo código de confirmação,
                          com validade de 24h. Logo após a ativação iremos preparar seu novo
                          ambiente e você será direcionado para o preenchimento de suas informações
                          pessoais. O sistema oferece um tour de apresentação onde você poderá conhecer
                          alguns dos principais recursos do sistema que preparamos especialmente para
                          te ajudar à obter o máximo de proveito de sua ferramenta. Clique no botão
                          à seguir para começar!
													</p>

													<br><br><br>

													<p style="color:rgb(52,52,52);font-family:Helvetica,Arial,sans-serif;font-size:15px;text-align:center;line-height:1.6">
                          <a href="{{ CONFIRMATION_URL }}" class="button" role="button" target="_blank" style="background-color: #72a800;border: none;color: white;padding: 8px 50px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;border-radius: 5px;">Ativar!</a>
													</p>

                          <br><br><br>

                          <p style="color:rgb(52,52,52);font-family:Helvetica,Arial,sans-serif;font-size:13px;padding:0px;margin:13px 0px;line-height:1.6">
													Para mais informações e duvidas acesse <a style="font-family:Helvetica,Arial,sans-serif;line-height:1.6; color:rgb(153,153,153); font-size:13px" href="www.melinuxsistemas.com.br/suporte">www.melinuxsistemas.com.br/suporte</a>.
													</p>

                          <p style="font-family:Helvetica,Arial,sans-serif;line-height:1.6; color:rgb(153,153,153); font-size:11px">
															Atenciosamente,<br>
															{{ COMPANY_USER_NAME }}
													</p>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<hr style='color: #DDD; width:580px; opacity: 0.4; margin-left: 10px;'>

		<div style="max-width:600px;background:rgb(255,255,255);">
			<table style="font-size:11px;width:100%;background:rgb(255,255,255);font-family:Helvetica,Arial,sans-serif;line-height:1.6;color:rgb(153,153,153);">
				<tbody>
					<tr>
						<td style="text-align:center;vertical-align:top;font-size:0px">
							<div>
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td style="padding-left:5px; text-align:center; ">
												<div style="margin-left:auto;margin-right:auto;">

													<p style="text-align:left;font-family:Helvetica,Arial,sans-serif;padding:0px;margin:5px 0px 0px;line-height:1.6;color:rgb(153,153,153);font-size:11px">
														{{ COMPANY_NAME }}<br>
														{{ COMPANY_ADDRESS_STREET }},<br>{{ COMPANY_ADDRESS_CITY }}.
													</p>
												</div>
											</td>

                      <td style="width: 250px;font-size:11px; padding-right:5px; text-align:center">
												<div style="margin-left:auto;margin-right:auto;">
													<p style="text-align:right;padding:0px;font-size:11px; font-family:Helvetica,Arial,sans-serif;color:rgb(153,153,153);margin:5px 0px 0px;line-height:1.6;">
                            {{ COMPANY_SITE }}<br>
                            Comercial: {{ COMPANY_COMERCIAL_NUMBER }}<br>
                            Suporte: {{ COMPANY_SUPORT_NUMBER }}
													</p>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>