<!DOCTYPE html>
<html lang="pt-br">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<title>Test Message - Resend Activation Code</title>
	</head>
	<body>
		<table style="max-width:600px;">
			<tbody>
				<tr>
					<td>
						<div>
							<img src="{{ COMPANY_BANNER_URL }}" alt="{{ COMPANY_BANNER_ALT }}" >
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div style="max-width:600px;background:rgb(255,255,255);">
			<table style="font-size:0px;width:100%;background:rgb(255,255,255)" cellspacing="0" cellpadding="0" border="0" align="center">
				<tbody>
					<tr>
						<td style="text-align:center;vertical-align:top;font-size:10px">
							<div class="" aria-labelledby="column-100">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td style="font-size:10px;padding:15px;text-align:center">
												<div>
													<div style="width:100%;border-color:rgb(221,221,221);background-color:rgb(221,221,221);color:rgb(221,221,221);height:1px;margin:0px auto">
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div style="max-width:600px;background:rgb(255,255,255);margin-bottom: -20px;">
			<table style="font-size:0px;width:100%;background:rgb(255,255,255)" cellspacing="0" cellpadding="0" border="0" align="center">
				<tbody>
					<tr>
						<td style="text-align:center;vertical-align:top;font-size:0px">
							<div aria-labelledby="column-100">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td style="word-wrap:break-word;word-break:break-word;font-size:0px;padding:15px;text-align:left">
												<div>
													<p style="color:rgb(52,52,52);font-family:Helvetica,Arial,sans-serif;font-size:15px;padding:0px;margin:0px 0px 13px;line-height:1.6">
													<b>Recuperar acesso ao Sistema</b>
													</p>

													<p style="color:rgb(52,52,52);font-family:Helvetica,Arial,sans-serif;font-size:13px;padding:0px;margin:13px 0px;line-height:1.6">
                          Conforme solicitado, estamos encaminhando um nova senha de acesso ao
                          sistema para você. A senha é gerada pelo sistema e é aleatóriamente
                          totalmente segura e secreta mas recomendamos que troque-a por uma de
                          sua preferência após acessar o sistema.
													</p>

													<br><br><br>

													<p style="color:rgb(52,52,52);font-family:Helvetica,Arial,sans-serif;font-size:15px;text-align:left;line-height:1.6">
                            Senha de Acesso: <b>{{ NEW_PASSWORD }}</b>
													</p>

                          <br><br><br>

                          <p style="color:rgb(52,52,52);font-family:Helvetica,Arial,sans-serif;font-size:13px;padding:0px;margin:13px 0px;line-height:1.6">
													Para mais informações e duvidas acesse <a style="font-family:Helvetica,Arial,sans-serif;line-height:1.6; color:rgb(153,153,153); font-size:13px" href="www.melinuxsistemas.com.br/suporte">www.melinuxsistemas.com.br/suporte</a>.
													</p>

                          <p style="font-family:Helvetica,Arial,sans-serif;line-height:1.6; color:rgb(153,153,153); font-size:11px">
															Atenciosamente,<br>
															{{ COMPANY_USER_NAME }}
													</p>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<hr style='color: #DDD; width:580px; opacity: 0.4; margin-left: 10px;'>

		<div style="max-width:600px;background:rgb(255,255,255);">
			<table style="font-size:11px;width:100%;background:rgb(255,255,255);font-family:Helvetica,Arial,sans-serif;line-height:1.6;color:rgb(153,153,153);">
				<tbody>
					<tr>
						<td style="text-align:center;vertical-align:top;font-size:0px">
							<div>
								<table width="100%" border="0">
									<tbody>
										<tr>
											<td style="padding-left:5px; text-align:center; ">
												<div style="margin-left:auto;margin-right:auto;">

													<p style="text-align:left;font-family:Helvetica,Arial,sans-serif;padding:0px;margin:5px 0px 0px;line-height:1.6;color:rgb(153,153,153);font-size:11px">
														{{ COMPANY_NAME }}<br>
														{{ COMPANY_ADDRESS_STREET }},<br>{{ COMPANY_ADDRESS_CITY }}.
													</p>
												</div>
											</td>

                      <td style="width: 250px;font-size:11px; padding-right:5px; text-align:center">
												<div style="margin-left:auto;margin-right:auto;">
													<p style="text-align:right;padding:0px;font-size:11px; font-family:Helvetica,Arial,sans-serif;color:rgb(153,153,153);margin:5px 0px 0px;line-height:1.6;">
                            {{ COMPANY_SITE }}<br>
                            Comercial: {{ COMPANY_COMERCIAL_NUMBER }}<br>
                            Suporte: {{ COMPANY_SUPORT_NUMBER }}
													</p>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>