<div id="modal_identification" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog"  style='position: absolute;width: 80%; left:50%;transform: translate(-50%, 0%);'>
		<form id="form-save-entity" autocomplete="off" ng-submit="save()" novalidate><!--  -->
			<div class="modal-content">
				{% csrf_token %}
					<div class="modal-header" style="height: 40px;padding-top: 3px;margin-right:1px;">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 7px;margin-right:0px;">×</button>
							<h5 class='modal_title' style="font-weight: bold">Adicionar Entidade</h5>
					</div>
					<div class="modal-body" style="padding: 10px 25px 0px 25px;">
						<div class="row">
							<div class="col-lg-2 col-xs-12 col-sm-3">
								<div class="form-group field field_required" id="field_cpf_cnpj">
									<sub><label id="lb_cpf_cnpj" for="cpf_cnpj">{{ form_entity.cpf_cnpj.label|upper }}</label></sub>
									{{ form_entity.cpf_cnpj }}
									<div class="alert">
									</div>
								</div>
							</div>

							<div class="col-lg-5 col-xs-12 col-sm-9">
								<div class="form-group field field_required" id="field_entity_name">
									<sub><label id="lb_entity_name" for="entity_name">{{ form_entity.entity_name.label }}</label> </sub>
									{{ form_entity.entity_name }}
									<div class="alert">
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-xs-12 col-sm-7">
								<div class="form-group field " id="field_fantasy_name">
									<sub><label id="lb_fantasy_name" for="fantasy_name">{{ form_entity.fantasy_name.label }}</label> </sub>
									{{ form_entity.fantasy_name }}
									<div class="alert">
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-xs-12 col-sm-5">
								<div class="form-group field" id="field_birth_date_foundation">
									<sub><label id="lb_birth_date_foundation" for="birth_date_foundation">{{ form_entity.birth_date_foundation.label }}</label> </sub>
									{{ form_entity.birth_date_foundation }}
									<div class="alert">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-xs-12 col-sm-12">
								<div class="form-group field field_required" id="field_comments">
									<sub><label id="lb_comments" for="comments">{{ form_entity.comments.label }}</label> </sub>
									{{ form_entity.comments }}
									<div class="alert">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer" style="margin-right:1px;">
						<div class="row" style="margin-top: 0px;margin-left: 0px;margin-right: 0px;padding-top: 0px;padding-bottom: 0px;">
							<div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-offset-10 col-sm-2 col-xs-offset-8 col-xs-4">
								<button id="submit_entity" type="submit" href="#" class="btn btn-sm btn-success form-control pull-right" style="line-height: 24px;margin-right: -10px;margin-bottom: 0px;">Salvar</button>
							</div>
						</div>
					</div>
			</div>
		</form>
	</div>
</div>
