{% extends 'user/base.html' %}
{% load static %}
{% block titulo_pagina %}SistemaWeb - Recuperar Senha{% endblock %}

{% block recursos_necessarios %}
{% endblock %}

{% block conteudo_principal %}
<div ng-controller="reset_password_controller">
  <div class="login_wrapper" >
    <div class="login_form" >
      <section class="login_content" >
        <form id='form_reset_password' ng-submit="reset_password()">
          {% csrf_token %}
          <h1>Recuperar senha</h1>
          <div>
            {{ formulario_send.email }}
          </div>
          <div>
            <button id="submit" type="submit" class="btn btn-primary form-control">Enviar</button>
          </div>

          <div class="separator">
            <p class="text-center">Problemas para ativar sua conta?
              <a style="cursor: pointer;" ng-click="resend_activation_code()">Solicite nova chave</a><br>
              Clique aqui para <a href="/login" style="margin-right: 0px;">Entrar</a> ou <a href="/register">Cadastre-se aqui</a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <p>©2016 All Rights Reserved. Privacy and Terms</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
{% endblock %}

{% block recursos_complementares %}
<script src="{% static 'modules/user/user_controller.js' %}"></script>
<script src="{% static 'modules/user/user.js' %}"></script>
{% endblock %}
